# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (mencakup semua kemungkinan nama)
venv/
venv_fp_bigdata/
.venv/
env/
ENV/

# File sementara yang di-download oleh skrip
downloaded_model.pkl

# File sistem operasi
.DS_Store
Thumbs.db